@media print {
  .main-print {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

iframe {
  
}

.pdf {
  height: 2300px !important;
}

.map {
  height: 50vh !important;
}

.artstation {
  height: calc(2450px - 80vmax) !important;
}

.artstation-bkg {
  background-color: #222 !important;
}

.profile-badge {
  width: 100% !important;
}
/*
@media (min-width: 765px) {
  .artstation {
    height: 150vh;
  }
}
*/
